html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: 'Varela Round';
}   /* HEADER NAV */

header nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #333;
    position: fixed;
    z-index: 5;
}

#portext {
    width: 85%;
    height: 80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#portext h1 em {
    color: #ccfbff;
    font-style: normal;
}

#portext h1 span {
    color: #fecece
}
header nav #main_pages {
    list-style-type: none;
    display:flex;
}

header nav li {
    margin-right: 40px;
    letter-spacing: 2.5px;
    text-transform: uppercase;  
    font-size: 16px;
    padding-bottom: 5px;
    margin-top: 7px;
}

header nav #main_pages li a, header h1 a {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

header nav #main_pages li a {
    position:relative;
    z-index: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

header nav #main_pages li a:before, header nav #main_pages li a:after {
    position:absolute; 
    opacity: 0;
    width: 0%;
    height: 2px;
    content: "";
    transition: all 0.3s;
}

header nav #main_pages li a:before {
    left: 0px;
    top: 0px;
    background: #fecece;
}

header nav #main_pages li a:after {
    right: 0px;
    bottom: 0px;
    background: #ccfbff;
}

header nav #main_pages li a:hover:before, header nav #main_pages li a:hover:after {
    opacity: 1;
    width: 100%;
}

header #portext h1 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    border-right: 2px solid #ccfbff;
    border-bottom: 2px solid #ccfbff;
    border-left: 2px solid #fecece;
    border-top: 2px solid #fecece;
    padding: 5px;
}

label {
    font-size: 40px;
    color: white;
    cursor:pointer;
}

label, #toggle {
    display:none;
}

    /* MEDIA QUERIES - HEADER NAV */
@media (max-width: 991px) {

    #portext {
        width: 95%;
        justify-content: space-around;
    }
    #portext h1 {
        position: fixed;
        margin-right: 35%;
    }
    
    header nav #main_pages {
        display:none;
        background-color: #333;
        padding-left: 30px;
        border-radius: 5px;
    }

    header nav #main_pages li {
        padding-top: 15px;
        padding-left: 10px;

    }

    label  {
        display:flex;
        position: fixed;
        margin-left: 55%;
        margin-bottom: 5px;
    }

    #toggle:checked + #main_pages {
        display:flex;
        flex-direction: column;
        transform: translateY(70%);
        margin-left: 59%;
        height: 150px;  
        animation: glissement 0.5s;
        animation: fadein 1s;
    }
}

header h1 {
    animation: fadein 1s;
}

nav {
    animation: fadein 1.8s;
}

 /* ANIMATIONS HEADER ET OPACITE */
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes glissement {
    0% {
        height: 0px;
    }
    100% {
        height: 150px;
    }
}


/* MAIN SECTION */
#imgsection {
    background: url('../images/fondimage2.png') no-repeat;
    width: 100%;
    height: 2100px;
    display:flex;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    background-position: center;
    background-size: cover;
    margin-top: 80px;
}


#containerqui {  
    width: 95%;
    height: 760px;
    margin-top: 30px;
    background-color: rgba(51, 51, 51, 0.9);
    z-index: 2;
    border-radius: 5px;
    animation: fadein 2.6s;
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 15px #333;
}

#photo {
    width: 35%;
    cursor: pointer;
}

@keyframes slideinleft {
    from {
        transform: translateX(-100%);
        opacity: 0;}

    to {transform: translateX(0%);
        opacity: 1;
    }
}

#photo img {
    width: 100%;
    height: 700px;
    box-shadow: 10px 10px 15px #333;
    animation: 0.8s slideinleft;
    animation-direction: normal;
    object-fit: cover;
    object-position: center;
}


@keyframes slideinright {
    from {
        transform: translateX(100%);
        opacity: 0;}

    to {transform: translateX(0%);
        opacity: 1;
    }
}
#text {
    width: 55%;
    height: 72%;
    border-right: 2px solid #ccfbff;
    border-bottom: 2px solid #ccfbff;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    box-shadow: 10px 10px 15px #333;
    font-size: clamp(8px, 8vw, 16px);
    animation: 0.8s slideinright;
    overflow:auto;
}

#text h2 {
    text-align: center;
    color: #ccfbff;
    font-size: 25px;
}

#text p {
    text-align: justify;
    font-size: 16px;
}

#text span {
    font-weight: 600;
    color:#ccfbff;
}

section {
    display:flex;
    flex-direction: column;
}

/* MEDIA QUERIES - MAIN SECTION */
@media (max-width: 1620px) {
    #text {
        width: 50%;
        height: 80%;
    }
    #text p {
        font-size: 15px;
    }
    #text h2 {
        font-size: 22px;
    }
}

@media (max-width: 1100px) {
    #text {
        width: 40%;
        height: 90%;
        border: none;
    }
    
    #text p {
        font-size: 13px;
    }
    #text h2 {
        font-size: 17px;
    }
    #photo {
        width: 40%;
    }
}

@media (max-width: 768px) {
    #containerqui {
        flex-direction: column;
        height: 1100px;
        box-shadow: none;
    }

    #photo {
        width: 90%;
        height: 300px;
        margin-top: 20px;
    }

    #photo img {
        width: 100%;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
        object-position: top;
    }

    #text {
        width: 82%;
        box-shadow: none;
    }
}
 /* ASIDE */
aside  {
    width: 99%;
    height: 500px;
    z-index: 3;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

#passions {
    width: 30%;
    height: 450px;
    margin-right: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.9);
    box-shadow: -10px 10px 10px #333;
    animation: fadein 3.2s;
}

#passions h2 {
    text-align: center;
    color: #FFF;
    animation: fadein 3.2s;
    text-transform: uppercase;
}

#cadretxt {
    width: 85%;
    height: 80%;
    text-align: center;
    line-height: 100%;
    border-left: 2px solid #ccfbff;
    border-bottom: 2px solid #ccfbff;
    padding-bottom: 0;
    box-shadow: -10px 10px 10px #333;
    animation: fadein 3.2s;
    overflow: auto;
}

#cadretxt span {
    color: #ccfbff;
    font-weight: 600;
}

#cadretxt h3 {
    text-transform: uppercase;
    font-size: 18px;

}

#cadretxt p {
    margin-top: auto;
    font-size: clamp(8px, 4em, 15px);
}

/* MEDIA QUERIES ASIDE */

@media (max-width: 1620px) {
    #cadretxt {
        width: 87%;
    }
    #cadretxt p {
        font-size: 14px;
        margin-top: -2px;
    }
}

@media (max-width: 1100px) {
    #passions {
        width: 30%;
    }
    #cadretxt {
        width: 89%;
        height: 83%;
    }
}

@media (max-width: 768px) {
    aside {
        width: 99%;
        height: 450px;
        justify-content: space-around;
        margin-top: 25px;
    }

    #passions {
        width: 95%;
        margin-right: 0;
        box-shadow: none;
    }

    #passions #cadretxt {
        border: none;
        box-shadow: none;
    }

    #cadretxt p {
        font-size: 15px;
    }
}

/* ARTICLE - PROJETS */

article {
    width: 75%;
    height: 675px;
    background-color: rgba(51, 51, 51, 0.9);
    z-index: 5;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: -10px -10px 10px #333;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article h2 {
    color: #ccfbff;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

article h3 {
    color: #ccfbff;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

article p {
    color: #fecece;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#titre {
    width: 95%;
    display:flex;
    justify-content: center;
}

#inside {
    width: 95%;
    height: 560px;
    display:flex;
    justify-content: space-between;
}

.text {
    width: 20%;
    height: 400px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

#maquette {
    width: 45%;
    height: 460px;
}

#maquette img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all 0.5s ease;
    cursor: pointer;
}

#maquette img:hover {
    transform: scale(1.3);
}

    /* MEDIA QUERIES - PROJETS */
@media (max-width: 1220px) {
    article {
        height: 600px;
        margin-top: 85px;
    }
    #maquette img {
        object-position: left;
    }

    article h2 {
        font-size: 20px;
    }

    .text {
        font-size: 12px;
        justify-content: space-between;
        height: 350px;
    }
}

@media (max-width: 991px) {
    article .text {
        display:none;
    }

    article {
        width: 55%;
    }

    #inside {
        justify-content: center;
    }

    #maquette {
        width: 75%;
        margin-top: 15px;
    }

    article h2 {
        font-size: 15px;
        padding-top: 10px;
    }
}

@media (max-width:768px) {
    article {
        width: 95%;
        box-shadow: none;
        height: 450px;
        margin-top: 25px;
    }

    article h2 {
        font-size: 12px;
    }

    #maquette {
        height: 350px;
        width: 90%;
    }

    #maquette img {
        object-position: top left;
        object-fit: cover;
    }

    #maquette img:hover {
        transform: scale(1);
    }
}

/* FOOTER */

footer {
    width: 100%;
    height: 120px;
    background-color: #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display:flex;
    justify-content: center;
}

footer #liens {
    width: 80%;
    height: 120px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#liens h2 {
    font-size: 30px;
    letter-spacing: 10px;
    color: #fecece;
}
footer #liens .logo {
    width: 80px;
    height: 80px;
    transition: all 0.5s ease;
}

footer #liens .logo img {
    width: 100%;
    height: 100%;
}

.logo:hover {
    transform: scale(1.2);
}

@media (max-width: 991px) {
    #liens h2 {
        font-size: 20px;
    }

    footer #liens {
        width: 90%;
    }

    footer #liens .logo {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 768px) {
    footer {
        height: 80px;
    }
    footer #liens {
        width: 95%;
        height: 80px;
    }
    footer #liens h2 {
        font-size: 15px;
    }
    footer #liens .logo {
        width: 30px;
        height: 30px;
    }
}
